@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: transparent !important;
  /* Additional styles to ensure full window is used */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.draggable-area {
  -webkit-app-region: drag;
  /* Additional styling for your draggable area */
}

.non-draggable-area {
  -webkit-app-region: no-drag;
  /* Additional styling for your draggable area */
}

/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
